@charset "UTF-8";
/*Las utilities son las primeras que tenemos que importar*/
/*Todo lo que esta en base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Rosario", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap"); }

/*Todo lo que sea layout*/
.navbar {
  width: 100%;
  height: 3.125rem;
  background-color: #714185; }
  .navbar ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: .75rem 0rem; }
    .navbar ul li a {
      font-family: "Inter", sans-serif;
      text-decoration: none;
      color: #DBC078;
      text-transform: uppercase; }

/*CSS para la pagina principal*/
.seccionTituloYBackground {
  width: 100%;
  height: 33.8125rem;
  background-image: url("../assets/img/backgroundSeccionUno.png"); }
  .seccionTituloYBackground h1 {
    display: flex;
    justify-content: center;
    padding-top: 15.625rem;
    color: #4A148C;
    font-size: 3.125rem; }

.frasesPromocionales {
  font-family: "Rosario", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem; }

.seccion-productos-index {
  display: flex;
  width: 100%;
  height: 37.5rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .seccion-productos-index .container-productos {
    width: 30rem;
    height: 21.875rem;
    text-align: center;
    position: relative;
    padding-bottom: 1.25rem; }
    .seccion-productos-index .container-productos .container-card-playeras {
      width: 100%;
      height: 70%; }
      .seccion-productos-index .container-productos .container-card-playeras h3 {
        padding-bottom: 1.5625rem;
        font-size: 1.625rem; }
      .seccion-productos-index .container-productos .container-card-playeras img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-bottom: 1.5625rem; }
      .seccion-productos-index .container-productos .container-card-playeras .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .seccion-productos-index .container-productos .container-card-playeras .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }
    .seccion-productos-index .container-productos .container-card-pants {
      width: 100%;
      height: 70%; }
      .seccion-productos-index .container-productos .container-card-pants h3 {
        padding-bottom: 1.5625rem;
        font-size: 1.625rem; }
      .seccion-productos-index .container-productos .container-card-pants img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-bottom: 1.5625rem; }
      .seccion-productos-index .container-productos .container-card-pants .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .seccion-productos-index .container-productos .container-card-pants .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }
    .seccion-productos-index .container-productos .container-card-tenis-index {
      width: 100%;
      height: 70%; }
      .seccion-productos-index .container-productos .container-card-tenis-index h3 {
        padding-bottom: 1.5625rem;
        font-size: 1.625rem; }
      .seccion-productos-index .container-productos .container-card-tenis-index img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-bottom: 1.5625rem; }
      .seccion-productos-index .container-productos .container-card-tenis-index .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .seccion-productos-index .container-productos .container-card-tenis-index .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }

/*CSS para la pagina Tienda*/
.titulo {
  width: 100%;
  height: 3.75rem;
  margin: 2.5rem 0rem;
  text-align: center;
  font-size: 3.125rem; }

.section-productos {
  width: 100%;
  height: 31.25rem; }
  .section-productos .titulosPrendas {
    font-family: "Rosario", sans-serif;
    text-align: center;
    font-size: 30px; }
  .section-productos .container-productos-tienda {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .section-productos .container-productos-tienda .cards-tienda-playeras1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-productos .container-productos-tienda .cards-tienda-playeras1 .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .section-productos .container-productos-tienda .cards-tienda-playeras1 .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }
    .section-productos .container-productos-tienda .cards-tienda-playeras2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-productos .container-productos-tienda .cards-tienda-playeras2 .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .section-productos .container-productos-tienda .cards-tienda-playeras2 .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }
    .section-productos .container-productos-tienda .cards-tienda-playeras3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-productos .container-productos-tienda .cards-tienda-playeras3 .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .section-productos .container-productos-tienda .cards-tienda-playeras3 .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }
    .section-productos .container-productos-tienda .cards-tienda-pantalon1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-productos .container-productos-tienda .cards-tienda-pantalon1 .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .section-productos .container-productos-tienda .cards-tienda-pantalon1 .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }
    .section-productos .container-productos-tienda .cards-tienda-pantalon2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-productos .container-productos-tienda .cards-tienda-pantalon2 .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .section-productos .container-productos-tienda .cards-tienda-pantalon2 .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }
    .section-productos .container-productos-tienda .cards-tienda-pantalon3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-productos .container-productos-tienda .cards-tienda-pantalon3 .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .section-productos .container-productos-tienda .cards-tienda-pantalon3 .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }
    .section-productos .container-productos-tienda .cards-tienda-tenis1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-productos .container-productos-tienda .cards-tienda-tenis1 .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .section-productos .container-productos-tienda .cards-tienda-tenis1 .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }
    .section-productos .container-productos-tienda .cards-tienda-tenis2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-productos .container-productos-tienda .cards-tienda-tenis2 .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .section-productos .container-productos-tienda .cards-tienda-tenis2 .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }
    .section-productos .container-productos-tienda .cards-tienda-tenis3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-productos .container-productos-tienda .cards-tienda-tenis3 .boton {
        background-color: #008CBA;
        /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px; }
        .section-productos .container-productos-tienda .cards-tienda-tenis3 .boton:hover {
          background-color: white;
          color: black;
          border: 2px solid #008CBA; }

/*CSS para la pagina de carrito*/
.titulo {
  width: 100%;
  height: 3.75rem;
  margin: 2.5rem 0rem;
  text-align: center;
  font-size: 3.125rem; }

.carrito1 {
  display: grid;
  width: 100%;
  height: 18.75rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 50px;
  grid-template-areas: "item1 cantidad1 precio1 ." "item1 cantidad-prenda1 cantidad-precio1 boton1";
  column-gap: .625rem;
  justify-content: center;
  align-content: center; }
  .carrito1 .item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center; }
  .carrito1 h3:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 30px; }
  .carrito1 h3:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 30px; }
  .carrito1 p:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 25px; }
  .carrito1 p:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 25px; }
  .carrito1 .boton {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    background-color: #008CBA;
    /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; }
    .carrito1 .boton:hover {
      background-color: white;
      color: black;
      border: 2px solid #008CBA; }

.carrito2 {
  display: grid;
  width: 100%;
  height: 18.75rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 50px;
  grid-template-areas: "item2 cantidad2 precio2 ." "item2 cantidad-prenda2 cantidad-precio2 boton2";
  column-gap: .625rem;
  justify-content: center;
  align-content: center; }
  .carrito2 .item2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center; }
  .carrito2 h3:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 30px; }
  .carrito2 h3:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 30px; }
  .carrito2 p:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 25px; }
  .carrito2 p:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 25px; }
  .carrito2 .boton {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    background-color: #008CBA;
    /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; }
    .carrito2 .boton:hover {
      background-color: white;
      color: black;
      border: 2px solid #008CBA; }

.carrito3 {
  display: grid;
  width: 100%;
  height: 18.75rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 50px;
  grid-template-areas: "item3 cantidad3 precio3 ." "item3 cantidad-prenda3 cantidad-precio3 boton3";
  column-gap: .625rem;
  justify-content: center;
  align-content: center; }
  .carrito3 .item3 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center; }
  .carrito3 h3:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 30px; }
  .carrito3 h3:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 30px; }
  .carrito3 p:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 25px; }
  .carrito3 p:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 25px; }
  .carrito3 .boton {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    background-color: #008CBA;
    /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; }
    .carrito3 .boton:hover {
      background-color: white;
      color: black;
      border: 2px solid #008CBA; }

.carrito4 {
  display: grid;
  width: 100%;
  height: 18.75rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 50px;
  grid-template-areas: "item4 cantidad4 precio4 ." "item4 cantidad-prenda4 cantidad-precio4 boton4";
  column-gap: .625rem;
  justify-content: center;
  align-content: center; }
  .carrito4 .item4 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center; }
  .carrito4 h3:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 30px; }
  .carrito4 h3:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 30px; }
  .carrito4 p:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 25px; }
  .carrito4 p:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 25px; }
  .carrito4 .boton {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    background-color: #008CBA;
    /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; }
    .carrito4 .boton:hover {
      background-color: white;
      color: black;
      border: 2px solid #008CBA; }

.total {
  display: grid;
  width: 100%;
  height: 12.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px;
  grid-template-areas: ". total cantidad-total ." ". . boton-pagar .";
  column-gap: .625rem;
  justify-content: center;
  align-content: center; }
  .total h3:first-child {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 25px; }
  .total p:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 25px; }
  .total .boton {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    padding: 20px 100px;
    background-color: #008CBA;
    /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; }
    .total .boton:hover {
      background-color: white;
      color: black;
      border: 2px solid #008CBA; }

/*CSS para la pagina de nosotros*/
.titulo {
  width: 100%;
  height: 3.75rem;
  margin: 2.5rem 0rem;
  text-align: center;
  font-size: 3.125rem; }

.nosotrosPrimeraSeccion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 532px);
  grid-template-areas: "texto1 img1" "img2 texto2" "texto3 img3";
  align-items: center;
  padding: 1.25rem; }
  .nosotrosPrimeraSeccion .article1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center; }
    .nosotrosPrimeraSeccion .article1 p {
      font-size: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center; }
  .nosotrosPrimeraSeccion .imagen-section1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    object-fit: contain;
    justify-self: center;
    align-self: center; }
  .nosotrosPrimeraSeccion .article2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center; }
    .nosotrosPrimeraSeccion .article2 p {
      font-size: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center; }
  .nosotrosPrimeraSeccion .imagen-section2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    object-fit: contain;
    justify-self: center;
    align-self: center; }
  .nosotrosPrimeraSeccion .article3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center; }
    .nosotrosPrimeraSeccion .article3 p {
      font-size: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center; }
  .nosotrosPrimeraSeccion .imagen-section3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    object-fit: contain;
    justify-self: center;
    align-self: center; }

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; }

.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box; }

.container-sm {
  max-width: 576px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box; }

.d-flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.fs-3 {
  font-size: 1.75rem;
  text-align: center; }

.mb-3 {
  margin-bottom: 1rem; }

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold; }

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-sizing: border-box; }

/*
    Código CSS para el footer
*/
footer {
  background-color: #DBC078;
  text-align: center; }

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0rem; }

.logos-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

/*Componentes*/
/*Mediaquerys*/
@media (max-width: 1024px) {
  .seccionTituloYBackground h1 {
    text-align: center; }
  /*Sección de tienda*/
  .section-productos {
    width: 100%;
    height: 31.25rem; }
  .section-productos h3 {
    font-size: 30px; }
  .container-productos-tienda {
    width: 100%;
    height: 20.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .cards-tienda-playeras1 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-playeras1 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-playeras2 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-playeras2 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-playeras3 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-playeras3 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-pantalon1 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-pantalon1 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-pantalon2 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-pantalon2 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-pantalon3 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-pantalon3 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-tenis1 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-tenis1 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-tenis2 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-tenis2 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-tenis3 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-tenis3 img {
    width: 100%;
    height: 50%;
    object-fit: contain; } }

@media (max-width: 768px) {
  .seccionTituloYBackground h1 {
    text-align: center; }
  /*Sección de tienda*/
  .section-productos {
    width: 100%;
    height: 31.25rem; }
  .section-productos h3 {
    font-size: 30px; }
  .container-productos-tienda {
    width: 100%;
    height: 20.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .cards-tienda-playeras1 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-playeras1 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-playeras2 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-playeras2 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-playeras3 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-playeras3 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-pantalon1 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-pantalon1 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-pantalon2 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-pantalon2 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-pantalon3 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-pantalon3 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-tenis1 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-tenis1 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-tenis2 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-tenis2 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-tenis3 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-tenis3 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .logos-redes img {
    width: 3.125rem;
    height: 3.125rem; } }

@media (max-width: 571px) {
  .container-productos-tienda .boton {
    font-size: .625rem; } }

@media (max-width: 429px) {
  /* Sección de la navbar */
  .navbar ul li a {
    font-size: .625rem; }
  /* Sección del index */
  .seccionTituloYBackground h1 {
    text-align: center; }
  .frasesPromocionales {
    font-size: 1.4375rem; }
  .seccion-productos-index {
    width: 100%;
    height: 18.75rem; }
  .container-productos .container-card-playeras h3:nth-child(1) {
    font-size: 1.25rem;
    margin-top: 1.5625rem; }
  .container-productos .container-card-playeras img:nth-child(2) {
    width: 100%;
    height: 70%;
    object-fit: contain; }
  .container-productos .container-card-pants h3:nth-child(1) {
    font-size: 1.25rem;
    margin-top: 1.5625rem; }
  .container-productos .container-card-pants img:nth-child(2) {
    width: 100%;
    height: 70%;
    object-fit: contain; }
  .container-productos .container-card-tenis-index h3:nth-child(1) {
    font-size: 1.25rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.4375rem; }
  .container-productos .container-card-tenis-index img:nth-child(2) {
    width: 100%;
    height: 70%;
    object-fit: contain; }
  /*Sección de la tienda*/
  .section-productos {
    width: 100%;
    height: 18.75rem; }
  .section-productos h3 {
    font-size: 30px; }
  .container-productos-tienda {
    width: 100%;
    height: 15.625rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .cards-tienda-playeras1 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-playeras1 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-playeras2 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-playeras3 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-playeras3 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-playeras2 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-pantalon1 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-pantalon1 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-pantalon2 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-pantalon2 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-pantalon3 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-pantalon3 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-tenis1 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-tenis1 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-tenis2 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-tenis2 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .cards-tienda-tenis3 {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .cards-tienda-tenis3 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .container-productos-tienda .boton {
    font-size: .5rem; }
  .titulo {
    font-size: 1.875rem;
    margin: .9375rem 0rem; }
  .section-productos .titulosPrendas {
    font-size: 1.25rem; }
  /* Seccion del carrito */
  .titulo {
    font-size: 20px;
    margin: .9375rem; }
  .carrito1 {
    width: 100%;
    height: 9.375rem; }
  .carrito1 .item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: end;
    width: 150px;
    height: 100px; }
  .carrito1 h3:nth-child(2) {
    font-size: 15px; }
  .carrito1 h3:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito1 p:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito1 p:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito1 .boton {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; }
  .carrito2 {
    width: 100%;
    height: 9.375rem; }
  .carrito2 .item2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: end;
    width: 150px;
    height: 100px; }
  .carrito2 h3:nth-child(2) {
    font-size: 15px; }
  .carrito2 h3:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito2 p:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito2 p:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito2 .boton {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; }
  .carrito3 {
    width: 100%;
    height: 9.375rem; }
  .carrito3 .item3 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: end;
    width: 150px;
    height: 100px; }
  .carrito3 h3:nth-child(2) {
    font-size: 15px; }
  .carrito3 h3:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito3 p:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito3 p:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito3 .boton {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; }
  .carrito4 {
    width: 100%;
    height: 9.375rem; }
  .carrito4 .item4 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: end;
    width: 150px;
    height: 100px; }
  .carrito4 h3:nth-child(2) {
    font-size: 15px; }
  .carrito4 h3:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito4 p:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito4 p:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .carrito4 .boton {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; }
  .total p:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  /*Seccion de Nosotros*/
  .nosotrosPrimeraSeccion .article1 p {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 10px; }
  .nosotrosPrimeraSeccion .imagen-section1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    object-fit: contain;
    justify-self: center;
    align-self: center; }
  .nosotrosPrimeraSeccion .article2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center; }
  .nosotrosPrimeraSeccion .imagen-section2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    object-fit: contain;
    justify-self: center;
    align-self: center; }
  .nosotrosPrimeraSeccion .article3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center; }
  .nosotrosPrimeraSeccion .imagen-section3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    object-fit: contain;
    justify-self: center;
    align-self: center; }
  article p {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  /*Sección del footer*/
  .logos-redes img {
    width: 1.875rem;
    height: 1.875rem; } }

@media (max-width: 375px) {
  /* Sección del index */
  .seccionTituloYBackground h1 {
    text-align: center; }
  .frasesPromocionales {
    font-size: 1.4375rem; }
  .seccion-productos-index {
    width: 100%;
    height: 18.75rem; }
  .container-productos .container-card-playeras h3:nth-child(1) {
    font-size: 1.25rem;
    margin-top: 1.5625rem; }
  .container-productos .container-card-playeras img:nth-child(2) {
    width: 100%;
    height: 70%;
    object-fit: contain; }
  .container-productos .container-card-pants h3:nth-child(1) {
    font-size: 1.25rem;
    margin-top: 1.5625rem; }
  .container-productos .container-card-pants img:nth-child(2) {
    width: 100%;
    height: 70%;
    object-fit: contain; }
  .container-productos .container-card-tenis-index h3:nth-child(1) {
    font-size: 1.25rem;
    margin-top: 1.5625rem;
    margin-bottom: 0px; }
  .container-productos .container-card-tenis-index img {
    width: 100%;
    height: 70%;
    object-fit: contain; }
  .seccion-productos-index .container-productos .boton {
    font-size: .9375rem; }
  /* Sección del footer */
  .logos-redes img {
    width: 1.25rem;
    height: 1.25rem; } }

@media (max-width: 320px) {
  /* Sección del index*/
  .seccionTituloYBackground h1 {
    font-size: 2.5rem; }
  .seccion-productos-index .container-productos .boton {
    font-size: .625rem; }
  /*Sección de la tienda*/
  .titulo {
    width: 100%;
    height: 2.5rem; }
  .section-productos {
    width: 100%;
    height: 12.5rem; }
  /* Seccion del carrito */
  .carrito1 .item1 {
    width: 100px;
    height: 80px; }
  .carrito2 .item2 {
    width: 100px;
    height: 80px; }
  .carrito3 .item3 {
    width: 100px;
    height: 80px; }
  .carrito4 .item4 {
    width: 100px;
    height: 80px; }
  .carrito1 .boton {
    padding: 10px 8px;
    font-size: 7px; }
  .carrito2 .boton {
    padding: 10px 8px;
    font-size: 7px; }
  .carrito3 .boton {
    padding: 10px 8px;
    font-size: 7px; }
  .carrito4 .boton {
    padding: 10px 8px;
    font-size: 7px; }
  /*Sección del footer*/
  .section-productos {
    height: 17.1875rem; } }
