@mixin flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin img-responsive{
    width: 100%;
    height: 50%;
    object-fit: contain;
}