@media (max-width: 429px){

    /* Secci贸n de la navbar */

    .navbar ul li a{
        font-size: .625rem;
    }

    /* Secci贸n del index */
    .seccionTituloYBackground h1{
        text-align: center;
    }

    .frasesPromocionales{
        font-size: 1.4375rem;
    }

    .seccion-productos-index{
        width: 100%;
        height: 18.75rem;
    }

    .container-productos .container-card-playeras h3:nth-child(1){
        font-size: 1.25rem;
        margin-top: 1.5625rem;
    }

    .container-productos .container-card-playeras img:nth-child(2){
        width: 100%;
        height: 70%;
        object-fit: contain;
    }

    .container-productos .container-card-pants h3:nth-child(1){
        font-size: 1.25rem;
        margin-top: 1.5625rem;
    }

    .container-productos .container-card-pants img:nth-child(2){
        width: 100%;
        height: 70%;
        object-fit: contain;
    }
    .container-productos .container-card-tenis-index h3:nth-child(1){
        font-size: 1.25rem;
        margin-top: 1.5625rem;
        margin-bottom: 1.4375rem;
    }

    .container-productos .container-card-tenis-index img:nth-child(2){
        width: 100%;
        height: 70%;
        object-fit: contain;
    }

    /*Secci贸n de la tienda*/

    .section-productos{
        width: 100%;
        height: 18.75rem;
    }
    
    .section-productos h3{
        font-size: 30px;
    }
    
    .container-productos-tienda{
        width: 100%;
        height: 15.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cards-tienda-playeras1{
        width: 15.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .cards-tienda-playeras1 img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }
    
    .cards-tienda-playeras2{
        width: 15.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .cards-tienda-playeras3{
        width: 15.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }
    
    .cards-tienda-playeras3 img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }

    .cards-tienda-playeras2 img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }

    .cards-tienda-pantalon1{
        width: 15.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .cards-tienda-pantalon1 img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }
    
    .cards-tienda-pantalon2{
        width: 15.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .cards-tienda-pantalon2 img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }
    
    .cards-tienda-pantalon3{
        width: 15.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }
    
    .cards-tienda-pantalon3 img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }

    .cards-tienda-tenis1{
        width: 15.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .cards-tienda-tenis1 img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }
    
    .cards-tienda-tenis2{
        width: 15.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .cards-tienda-tenis2 img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }
    
    .cards-tienda-tenis3{
        width: 15.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }
    
    .cards-tienda-tenis3 img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }

    .container-productos-tienda .boton{
        font-size: .5rem;
    }

    .titulo{
        font-size: 1.875rem;
        margin: .9375rem 0rem;
    }

    .section-productos .titulosPrendas{
        font-size: 1.25rem;
    }

    /* Seccion del carrito */

    .titulo {
        font-size: 20px;
        margin: .9375rem;
    }
    .carrito1{
        width: 100%;
        height: 9.375rem;
    }
    .carrito1 .item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: end;
        width: 150px;
        height: 100px;
    }
    .carrito1 h3:nth-child(2){
        font-size: 15px;
    }
    
    .carrito1 h3:nth-child(4){
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito1 p:nth-child(3){
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito1 p:nth-child(5){
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito1 .boton{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        padding: 15px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px;
    }
    .carrito2{
        width: 100%;
        height: 9.375rem;
    }
    .carrito2 .item2 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: end;
        width: 150px;
        height: 100px;
    }
    .carrito2 h3:nth-child(2){
        font-size: 15px;
    }
    
    .carrito2 h3:nth-child(4){
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito2 p:nth-child(3){
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito2 p:nth-child(5){
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito2 .boton{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        padding: 15px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px;
    }
    .carrito3{
        width: 100%;
        height: 9.375rem;
    }
    .carrito3 .item3 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: end;
        width: 150px;
        height: 100px;
    }
    .carrito3 h3:nth-child(2){
        font-size: 15px;
    }
    
    .carrito3 h3:nth-child(4){
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito3 p:nth-child(3){
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito3 p:nth-child(5){
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito3 .boton{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        padding: 15px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px;
    }
    .carrito4{
        width: 100%;
        height: 9.375rem;
    }
    .carrito4 .item4 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: end;
        width: 150px;
        height: 100px;
    }
    .carrito4 h3:nth-child(2){
        font-size: 15px;
    }
    
    .carrito4 h3:nth-child(4){
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito4 p:nth-child(3){
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito4 p:nth-child(5){
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }
    
    .carrito4 .boton{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        padding: 15px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px;
    }
    .total p:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        font-size: 15px;
    }

    /*Seccion de Nosotros*/

    .nosotrosPrimeraSeccion .article1 p{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        font-size: 10px;
    }
    
    .nosotrosPrimeraSeccion .imagen-section1{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        object-fit: contain;
        justify-self: center;
        align-self: center;
    }
    
    .nosotrosPrimeraSeccion .article2{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
    }
    
    .nosotrosPrimeraSeccion .imagen-section2{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        object-fit: contain;
        justify-self: center;
        align-self: center;
    }
    
    .nosotrosPrimeraSeccion .article3{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        justify-self: center;
        align-self: center;
    }
    
    .nosotrosPrimeraSeccion .imagen-section3{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        object-fit: contain;
        justify-self: center;
        align-self: center;
    }
    
    article p {
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Secci贸n del footer*/

    .logos-redes img{
        width: 1.875rem;
        height: 1.875rem;
    }
}