@media (max-width: 320px){
    /* Sección del index*/
    .seccionTituloYBackground h1{
        font-size: 2.5rem;
    }

    .seccion-productos-index .container-productos .boton{
        font-size: .625rem;
    }

    /*Sección de la tienda*/
    .titulo{
        width: 100%;
        height: 2.5rem;
    }

    .section-productos{
        width: 100%;
        height: 12.5rem;
    }

    /* Seccion del carrito */

    .carrito1 .item1 {
        width: 100px;
        height: 80px;
    }
    .carrito2 .item2 {
        width: 100px;
        height: 80px;
    }
    .carrito3 .item3 {
        width: 100px;
        height: 80px;
    }
    .carrito4 .item4 {
        width: 100px;
        height: 80px;
    }
    .carrito1 .boton{
        padding: 10px 8px;
        font-size: 7px;
    }
    .carrito2 .boton{
        padding: 10px 8px;
        font-size: 7px;
    }
    .carrito3 .boton{
        padding: 10px 8px;
        font-size: 7px;
    }
    .carrito4 .boton{
        padding: 10px 8px;
        font-size: 7px;
    }

    /*Sección del footer*/
    .section-productos{
        height: 17.1875rem;
    }
}